* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Pallete:

#2D3142 - Space Cadet
#BFC0C0 - Silver
#FFFFFF - White
#EF8354 - Mandarin
#4F5D75 - Independence

*/

body {
    height: 100vh;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.top-nav-bar {
    background: #BFC0C0;
}

a,
button {
    font-family: "Poppins", sans-serif;
}

.topmenu button:hover,
.topmenu button:hover a {
    background: #EF8354;
    color: white;
}

.topmenu button {
    margin-top: 10px;
    background: #FFFFFF;
    border: none;
    color: #2D3142;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 5px;
}

.topmenu a {
    color: #2D3142;
    text-decoration: none;
}

.top-nav-bar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topmenu {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
}
.info {
    position: relative;
}

/*
.info li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

/* Deprecated button tag
.topmenu button {
    background: #CDEAC0;
    position: absolute;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
} */

/*
.dropdown button:hover, .home:hover {
    color: #DACE95;
}

.info button:focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(10px);
} */